body{
    background-image: url("../Images/Background.png"); 
    background-repeat: no-repeat;
    background-size:cover;  
     
}

/* Oblikovanje glave obrazca */
#Header{ 
  background-color: rgba(133, 133, 133, 0.481);
  /*padding: 10px 15px; */
  border-top-right-radius:10px;
  border-top-left-radius: 10px;
}

.naslov{
  font-size: 40px; 
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.Text{
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  
}

hr{
    border: 2px solid darkgray;
}

input:focus, textarea:focus, select:focus{
  outline: none;
}

#wrapper{
    border: solid darkgray 1px;
    margin: 0 auto;
    width: 800px;
    /*background-color: white;*/
    box-shadow: 0 1px 12px rgba(0, 0, 0, 0.5);
    border-radius:10px; 
    padding: 0;
    background-color: grey;
    opacity: 0.7;
    
    
}

.Thing{
    padding: 10px 20px;
}

input[type="text"], textarea {
    background-color: lightgray;  
    
  }

.TextBox{
    border-radius: 5px;
    box-shadow: none;

}

img{
    vertical-align: middle; 
    padding-left: 10px;
    padding-top: 10px;
    padding-right: 10px;
}

.form-control{
  height: 45px;
  border-radius: 5px;
  background-color: lightgray; 
  box-shadow: none; 
  font-size: 20px;
  padding: 2px;
  width: 58%;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}


 #Name, #Sname, #Age,#Mail,#Cap{
    border-radius: 6px;
    
}


.Okol, .Okol1,.Gender{
  display:inline-block;

}


#button{
  text-align: center;
}


#btn{
  background-color: black;
  border: none;
  border-radius: 5px;
  color: white;
  padding: 15px 30px;
  text-align: center;
  text-decoration: none;
  font-size: 20px;
}


#image{
  
  box-shadow: 0px 1px 12px rgba(0, 0, 0, 0.5);
  width: 65px;;
  padding: 5px;
  margin-left: 10px;
  height: 35px;
  user-select: none;
  text-decoration:line-through;
  font-style: italic;
  font-size: x-large;
  background-color: lightgray;

  border-radius: 5px;
}

.inline,#cap,#key{
  display:inline-block;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}



/* Oblikovanje polja  Name ter Surname  */

.Okol .Custom{
  height: 45px;
  width: 90%;
  position: relative;
  box-shadow: 0px 2px 12px rgba(0, 0, 0, 0.5);
}

.Okol:hover,.Okol1:hover,.Okol2:hover{
  color: darkgray;

}

.Okol1 .Custom1{
  height: 45px;
  width: 100%;
  position: relative;
  box-shadow: 0px 2px 12px rgba(0, 0, 0, 0.5);
}

.Okol2 .Custom2{
  height: 45px;
  width: 57.5%;
  position: relative;
  box-shadow: 0px 2px 12px rgba(0, 0, 0, 0.5);
}

.Okol .Custom input,.Okol1 .Custom1 input,.Okol2 .Custom2 input{
  height: 100%;
  width: 100%;
  border: none;
  font-size: 20px;
  bottom:0px;
  
}

.Custom input:focus ~ label,
.Custom input:valid ~ label{
  transform: translateY(-22px);
  font-size: 10px;
  
}

.Custom1 input:focus ~ label,
.Custom1 input:valid ~ label{
  transform: translateY(-22px);
  font-size: 10px;
  
}

.Custom2 input:focus ~ label,
.Custom2 input:valid ~ label{
  transform: translateY(-22px);
  font-size: 10px;
  
}

.Okol .Custom label,.Okol1 .Custom1 label,.Okol2 .Custom2 label{
  position: absolute;
  bottom: 10px;
  left: 5px;
  pointer-events: none;
  transition: all 0.5s ease;
}
.Custom .Pod,.Custom1 .Pod1,.Custom2 .Pod2{
  position: absolute;
  height: 2px;
  width: 100%;
  bottom: 2px;
  left:2px;
  right: 2px;
}

.Custom .Pod:before,.Custom1 .Pod1:before,.Custom2 .Pod2:before{
  position: absolute;
  content: "";
  height: 100%;
  width: 100%;
  background: black;
  transform: scaleX(0);
  transform-origin: center;
  transition: transform 0.5s ease;
}
.Custom input:focus ~ .Pod:before,
.Custom input:valid ~ .Pod:before{
  transform: scaleX(1);
}

.Custom1 input:focus ~ .Pod1:before,
.Custom1 input:valid ~ .Pod1:before{
  transform: scaleX(1);
}

.Custom2 input:focus ~ .Pod2:before,
.Custom2 input:valid ~ .Pod2:before{
  transform: scaleX(1);
}




.Gender{
  background-color: lightgray;
  box-shadow: 0px 2px 12px rgba(0, 0, 0, 0.5);
  border-radius: 5px;
  padding-top: 5px;
  text-align: center;
}

.Gender input{
  margin:0;padding:0;
  -webkit-appearance:none;
     -moz-appearance:none;
          appearance:none;
}
.Male{background-image:url(../Images/Mal.png);}
.Female{background-image:url(../Images/Fem.png);}

.Gender input:active + .PickG{opacity: .7;}
.Gender input:checked + .PickG{
  -webkit-filter: none;
     -moz-filter: none;
          filter: none;
}
.PickG{
  
  background-size:contain;
  background-repeat:no-repeat;
  display:inline-block;
  width:100px;height:70px;
  -webkit-transition: all 100ms ease-in;
     -moz-transition: all 100ms ease-in;
          transition: all 100ms ease-in;
  -webkit-filter: brightness(1.8) grayscale(1) opacity(.7);
     -moz-filter: brightness(1.8) grayscale(1) opacity(.7);
          filter:  opacity(.6);
}
.PickG:hover{
  
          filter: brightness(2) grayscale(1) opacity(.9);
}


.item{
  padding: 10px 0 10px 10px;
  background-color: lightgray;
  width: 25%;
  border-radius: 5px;
  box-shadow: 0px 2px 12px rgba(0, 0, 0, 0.5);

}


.checkbox-rect input[type="checkbox"] {
  display: none;
}
.checkbox-rect input[type="checkbox"] + label {
  display: block;
  position: relative;
  padding-left: 35px;
  margin-bottom: 20px;
  font: 14px/20px 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
}
.checkbox-rect input[type="checkbox"]:hover + label:hover {
  color: rgb(23, 86, 228);
}
.checkbox-rect input[type="checkbox"]:hover + label:before {
  background: #50565a;
  box-shadow: inset 0px 0px 0px 2px #f7f2f2;
}
.checkbox-rect input[type="checkbox"] + label:last-child {
  margin-bottom: 0;
}
.checkbox-rect input[type="checkbox"] + label:before {
  content: "";
  display: block;
  width: 1.4em;
  height: 1.4em;
  border: 1px solid #343a3f;
  border-radius: 0.2em;
  position: absolute;
  left: 0;
  top: 0;
  -webkit-transition: all 0.2s, background 0.2s ease-in-out;
  transition: all 0.2s, background 0.2s ease-in-out;
  background: #f3f3f3;
}
.checkbox-rect input[type="checkbox"]:checked + label:before {
  width: 1.3em;
  height: 1.3em;
  border-radius: 0.2em;
  border: 2px solid #fff;
  -webkit-transform: rotate(90deg);
  transform: rotate(90deg);
  background: #50565a;
  box-shadow: 0 0 0 1px #000;
}







